name: CI Pipeline
on:
    pull_request:
        branches:
            - main
            - develop
            - release

jobs:
    test:
        runs-on: ubuntu-latest
        steps:

            - name: checkout code
              uses: actions/checkout@v4
            
            - name: Set up Python
              uses: actions/setup-python@v5
              with:
                  python-version: '3.11'
            - name: Install dependencies
              run: |
                    python -m pip install --upgrade pip
                    pip install -r requirements.txt
            
            - name: Run Tests
              run: |
                    pytest ci-cd-learning-lab/tests/sample_test.py
            